<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Position</title>
</head>
<body>
<main layout:fragment="content" class="flex flex-col flex-grow justify-between container mx-auto my-4">
    <div class="bg-white text-white dark:bg-gray-800 shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-4">Edit Position: <span
                th:text="*{position.name}"></span></h2>

        <form th:action="@{/edit}" th:object="${position}" method="post" class="space-y-6">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-md shadow">
                <div>
                    <label for="id" class="block text-sm font-medium text-gray-700 dark:text-gray-300"></label>
                    <input type="hidden" id="id"
                           th:field="*{id}"
                           class="mt-1 block w-full">
                </div>

                <div>
                    <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Name</label>
                    <input type="text" id="name" name="name"
                           th:field="*{name}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div>
                    <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Description</label>
                    <input type="text" id="description" name="description"
                           th:field="*{description}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div>
                    <label for="risk"
                           class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Risk</label>
                    <select name="risk" id="risk"
                            class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option th:each="risk : ${T(me.siansxint.hhrr.position.Risk).values()}"
                                th:value="${risk}" th:text="${risk.name()}"
                                th:selected="${risk.ordinal() == position.risk.ordinal()}"></option>
                    </select>
                </div>
                <div>
                    <label for="minSalary" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Min
                        Salary</label>
                    <input type="number" id="minSalary" name="minSalary"
                           th:field="*{minSalary}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('minSalary')}" th:errors="*{minSalary}"></span>
                </div>
                <div>
                    <label for="maxSalary" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Max
                        Salary</label>
                    <input type="number" id="maxSalary" name="maxSalary"
                           th:field="*{maxSalary}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('maxSalary')}" th:errors="*{maxSalary}"></span>
                </div>
                <div>
                    <label for="department" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Department</label>
                    <input type="text" id="department" name="department"
                           th:field="*{department}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
                </div>

                <div>
                    <label for="languages"
                           class="block text-sm font-medium text-gray-700 dark:text-gray-300  mt-2">Languages</label>
                    <select id="languages" name="languages"
                            th:field="*{languages}"
                            multiple
                            class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option th:each="language : ${languages}"
                                th:value="${language.id}"
                                th:text="${language.name}"
                                th:selected="${position.languages.contains(language)}"></option>
                    </select>
                </div>

                <div class="app grid grid-cols-4 gap-4 mt-2"
                     th:each="app, stat : *{applications}"
                     th:id="|app-${stat.index}|">
                    <div hidden="hidden">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].id}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].owner}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].salaryExpectation}">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].experiences}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].trainings}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].abilities}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].languages}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{applications[__${stat.index}__].position}"
                               class="mt-1 block w-full">
                    </div>
                </div>
                <div class="employee grid grid-cols-4 gap-4 mt-2"
                     th:each="employee, stat : *{employees}"
                     th:id="|employee-${stat.index}|">
                    <div hidden="hidden">
                        <input type="hidden"
                               th:field="*{employees[__${stat.index}__].id}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{employees[__${stat.index}__].owner}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{employees[__${stat.index}__].startedAt}">
                        <input type="hidden"
                               th:field="*{employees[__${stat.index}__].salary}"
                               class="mt-1 block w-full">
                        <input type="hidden"
                               th:field="*{employees[__${stat.index}__].position}"
                               class="mt-1 block w-full">
                    </div>
                </div>

                <div class="flex flex-row justify-end mt-6">
                    <a th:href="@{/positions}"
                       class="mr-4 text-gray-600 hover:underline dark:text-gray-400 self-center">Cancel</a>
                    <button type="submit"
                            class="px-4 py-2 bg-blue-600 text-white rounded-md shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Update Position
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>