<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Hire Application</title>
</head>
<body>
<main layout:fragment="content" class="flex flex-col flex-grow container mx-auto my-4">
    <div class="overflow-x-auto bg-white dark:bg-gray-800 shadow-md rounded-lg mb-4 p-4">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Application Details</h2>
        <ul class="text-gray-700 dark:text-gray-300">
            <li><strong>Owner:</strong> <span th:text="${hire.app.owner.name}"></span></li>
            <li><strong>Salary Expectation:</strong> <span th:text="${hire.app.salaryExpectation}"></span></li>
        </ul>
        <div>
            <h3 class="font-bold text-gray-700 dark:text-gray-300">Experiences</h3>
            <ul class="text-gray-700 dark:text-gray-300">
                <li th:each="experience : ${hire.app.experiences}" th:text="${experience.company}"></li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-gray-700 dark:text-gray-300">Abilities</h3>
            <ul class="text-gray-700 dark:text-gray-300">
                <li th:each="ability : ${hire.app.abilities}" th:text="${ability.description}"></li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-gray-700 dark:text-gray-300">Trainings</h3>
            <ul class="text-gray-700 dark:text-gray-300">
                <li th:each="training : ${hire.app.trainings}" th:text="${training.description}"></li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-gray-700 dark:text-gray-300">Languages</h3>
            <ul class="text-gray-700 dark:text-gray-300">
                <li th:each="language : ${hire.app.languages}" th:text="${language.name}"></li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-gray-700 dark:text-gray-300">Position Details</h3>
            <ul class="text-gray-700 dark:text-gray-300">
                <li><strong>Position:</strong> <span th:text="${hire.app.position.name}"></span></li>
                <li><strong>Salary Range:</strong> <span th:text="${hire.app.position.minSalary}"></span> - <span
                        th:text="${hire.app.position.maxSalary}"></span></li>
            </ul>
        </div>
    </div>

    <div class="bg-white text-white dark:bg-gray-800 shadow-md rounded-lg p-6">
        <form th:action="@{/applications/hire}" th:object="${hire}" method="post" class="space-y-4">
            <div>
                <input type="hidden"
                       th:field="*{app.id}"
                       class="mt-1 block w-full">
            </div>

            <div>
                <label for="salary" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Salary</label>
                <input type="number" id="salary" name="salary" th:field="*{salary}"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600">
                <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Invalid Salary</span>
            </div>
            <div>
                <label for="startAt" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Start
                    Date</label>
                <input type="date" id="startAt" name="startAt"
                       th:field="*{startAt}"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600">
                <span th:if="${#fields.hasErrors('startAt')}" th:errors="*{startAt}">Invalid Start Date</span>
            </div>
            <div class="flex justify-between items-center">
                <button type="submit"
                        class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Hire Applicant
                </button>
                <a href="/applications"
                   class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Cancel</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>