<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<main layout:fragment="content" class="flex flex-col flex-grow justify-between container mx-auto my-4">
    <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-4">Edit Employee: <span
                th:text="*{employee.owner.name}"></span></h2>

        <form th:action="@{/employees/edit}" th:object="${employee}" method="post" class="space-y-6">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-md shadow">
                <div>
                    <input type="hidden"
                           th:field="*{id}"
                           class="mt-1 block w-full">
                </div>
                <div>
                    <input type="hidden"
                           th:field="*{owner.id}"
                           class="mt-1 block w-full">
                </div>
                <div>
                    <input type="hidden"
                           th:field="*{position.id}"
                           class="mt-1 block w-full">
                </div>

                <div>
                    <label for="salary"
                           class="block text-sm font-medium text-gray-700 dark:text-gray-300">Salary</label>
                    <input type="number" id="salary" name="salary"
                           th:field="*{salary}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                </div>
                <div>
                    <label for="startedAt" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mt-2">Starts
                        At</label>
                    <input type="date" id="startedAt" name="startedAt"
                           th:field="*{startedAt}"
                           class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    <span th:if="${#fields.hasErrors('startedAt')}" th:errors="*{startedAt}"></span>
                </div>

                <div>
                    <label for="position"
                           class="block text-sm font-medium text-gray-700 dark:text-gray-300  mt-2">Position</label>
                    <select id="position" name="position"
                            th:field="*{position.id}"
                            class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option th:each="position : ${positions}"
                                th:value="${position.id}"
                                th:text="${position.name}"
                                th:selected="${employee.position != null and employee.position.id == position.id}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                </div>

                <div class="flex flex-row justify-end mt-6">
                    <a th:href="@{/employees}"
                       class="mr-4 text-gray-600 hover:underline dark:text-gray-400 self-center">Cancel</a>
                    <button type="submit"
                            class="px-4 py-2 bg-blue-600 text-white rounded-md shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Update Employee
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

<script layout:fragment="scripts">
    function addContainer(parent, child, display) {
        let index = document.getElementsByClassName(child).length;

        const container = document.getElementById(parent);

        const entry = document.createElement("div");
        entry.id = `${child}-${index}`;
        entry.classList.add(child, "grid", "grid-cols-4", "gap-4", "mt-2");
        entry.innerHTML = display(index);

        container.appendChild(entry);
    }

    function removeContainer(parent, child) {
        const container = document.getElementById(parent);
        const childs = container.getElementsByClassName(child);

        if (childs.length < 1) {
            return;
        }

        const lastChild = childs[childs.length - 1];
        console.log(lastChild.innerHTML);
        container.removeChild(lastChild);
    }

    document.getElementById("remove-experience").addEventListener("click", () => removeContainer("experiences", "experience"));
    document.getElementById("add-experience").addEventListener("click", () => addContainer("experiences", "experience", (index) => `
                        <div>
                            <label for="experience-salary"
                                   class="block text-sm font-medium text-gray-700 dark:text-gray-300">Salary</label>
                            <input type="number" id="experience-salary"
                                   name="experiences[${index}].salary"
                                   value="0.0"
                                   required
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>

                        <div>
                            <label for="experience-started"
                                   class="block text-sm font-medium text-gray-700 dark:text-gray-300">Started</label>
                            <input type="date" id="experience-started"
                                   name="experiences[${index}].started"
                                   required
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>

                        <div>
                            <label for="experience-finished" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Finished</label>
                            <input type="date" id="experience-finished"
                                   name="{experiences[${index}].finished"
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>

                        <div>
                            <label for="experience-company"
                                   class="block text-sm font-medium text-gray-700 dark:text-gray-300">Company</label>
                            <input type="text" id="experience-company"
                                   name="experiences[${index}].company"
                                   required
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>
                    </div>`));

    document.getElementById("remove-training").addEventListener("click", () => removeContainer("trainings", "training"));
    document.getElementById("add-training").addEventListener("click", () => addContainer("trainings", "training", (index) => `
                        <div>
                            <label for="training-description"
                                   class="block text-sm font-medium text-gray-700 dark:text-gray-300">Description</label>
                            <input type="text" id="training-description"
                                   name="trainings[${index}].description"
                                   required
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>`));

    document.getElementById("remove-ability").addEventListener("click", () => removeContainer("abilities", "ability"));
    document.getElementById("add-ability").addEventListener("click", () => addContainer("abilities", "ability", (index) => `
                        <div>
                            <label for="ability-description"
                                   class="block text-sm font-medium text-gray-700 dark:text-gray-300">Description</label>
                            <input type="text" id="ability-description"
                                   name="abilities[${index}].description"
                                   required
                                   class="mt-1 block w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-300 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>`))
</script>
</body>
</html>